<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% for item in meta %}
  {% if item.html_tag == 'title' %}
  <title>{{ item.value }}</title>
  {% endif %}
  {% endfor %}
  <style>
    {% for classname, stylesheet in classnames.items %}
    .{{ classname }} {
      {{ stylesheet }}
    }
    {% endfor %}
  </style>
  {% for snippet in ads_snippets %}
  {{ snippet|safe }}
  {% endfor %}
</head>
<body>
{% for line in built %}
  {{ line|safe }}
{% endfor %}
<style>
.nb {
  color: #f2890d;
}
.p {
  color: #B3B3B3;
}
.nc {
  color: #10a6a6;
}
.n {
  color: #aeaeae;
}
.s1 {
  color: #10a279;
}
.mi {
  color: #a5a5aa;
}
.o {
  color: #bfbfbf;
}
.k {
  color: #028c5e;
}
.fm {
  color: #4f4a4a;
}
.bp {
  color: #f2890d;
}

pre {
  background: #e3e3e3;
  padding: 2em;
  margin: 2em -2em;
}
</style>
</body>
</html>
